<div class="sidebar">

  <!-- TOP -->
  <div>
    <div class="logo">
      <div class="logo-icon">🔐</div>
      <div>
        <div class="logo-title">NexaHub</div>
        <div class="logo-subtitle">
          {{ getRole() }}
        </div>
      </div>
    </div>

    <!-- DASHBOARD -->
    <a
      class="nav-item"
      routerLink="/dashboard"
      routerLinkActive="active">

      <span class="nav-icon">📊</span>
      <span>Dashboard</span>
    </a>

    <!-- USERS -->
    <a *ngIf="isAdminOrManager()"
       class="nav-item"
       routerLink="/users"
       routerLinkActive="active">

      <span class="nav-icon">👥</span>
      <span>Users</span>
    </a>

    <!-- TASKS -->
    <a class="nav-item"
       routerLink="/tasks"
       routerLinkActive="active">

      <span class="nav-icon">📋</span>

      <span>
        {{ isAdminOrManager() ? 'Tasks' : 'My Tasks' }}
      </span>
    </a>

    <!-- ROLES -->
    <a *ngIf="isAdmin()"
       class="nav-item"
       routerLink="/roles"
       routerLinkActive="active">

      <span class="nav-icon">🛡️</span>
      <span>Roles & Permissions</span>
    </a>

    <!-- AUDIT -->
    <a *ngIf="isAdminOrManager()"
       class="nav-item"
       routerLink="/audit"
       routerLinkActive="active">

      <span class="nav-icon">📜</span>
      <span>Audit Log</span>
    </a>

    <!-- PROFILE -->
    <a class="nav-item"
       routerLink="/profile"
       routerLinkActive="active">

      <span class="nav-icon">👤</span>
      <span>My Profile</span>
    </a>
  </div>

  <!-- BOTTOM -->
  <div>

    <div class="user-card">
      <div class="avatar">
        {{ user?.nom?.charAt(0)?.toUpperCase() }}
      </div>

      <div class="user-info">
        <div class="user-name">
          {{ user?.nom }}
        </div>

        <div class="user-role">
          {{ getRole() }}
        </div>
      </div>
    </div>

    <div class="logout" (click)="logout()">
      <span>🚪</span>
      <span>Logout</span>
    </div>

  </div>
</div>